body{
    background-color: #4b4d4c;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

#introText{
    color: #0000FF;
}

.highlight{
    color: #d46829;
    font-weight: bold;
}

#introContainer{
    width: 470px;
    float: left;
    margin: 0px 0px 0px 37px;
}

#introPicture{
    float: left;
    margin: 0px 0px 0px 80px;
}

.reset{
    clear: both;
}

#hobbyContainer{
    width: 410px;
    float: left;
    margin: 44px 0px 81px 72px;
    height: 151px;
}

#hobbyContainer h2{
margin: 0px;
}

#heroshot{
    float: left;
    margin: 8px 0px 0px 102px;
}

#seasonIslands{
    float: left;
    margin: 0px 0px 0px 68px;

}

.socialThumb{
    float: left;
    width: 56px;
    height: 56px;
    background-color: #ffffff;
    margin: 0px 0px 0px 18px;
}

#mainContainer{
    width: 1200px;
    margin: 0px auto;
    background-color: #FFFFFF;
}

#paddingTest{
    width: 300px;
    height: 300px;
    background-color: #0000FF;
    margin: 0px 0px 30px 0px;
    padding: 10px;
}